# Create the requirements.txt file:
#   pip freeze > requirements.txt

# Install the requirements.txt file:
#   pip install -r requirements.txt


asgiref==3.5.2
Django==4.0.6
django-countries==7.3.2
djangorestframework==3.13.1
factory-boy==3.2.1
Faker==13.15.0
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
sqlparse==0.4.2
typing_extensions==4.3.0
